<h2><%= @node.name %></h2>
<p>
  <%= link_to "Back", nodes_path, class: "btn" %>
</p>
<ul class="nav nav-tabs">
  <li class="<%= "active" if params[:view] == "graphs" %>"><%= link_to "Graphs", "?view=graphs" %></li>
  <li class="<%= "active" if params[:view] == "monit" %>"><%= link_to "Monit", "?view=monit" %></li>
</ul>
<%= render params[:view] || "graphs" %>
