<h3><%= @node.name %></h3>
<img src="<%= "#{node_path(@node)}/graph?target=stats.#{@node.name.split(".").first}.cpu.*.*.user.*" %>"></img>
<img src="<%= "#{node_path(@node)}/graph?target=stats.#{@node.name.split(".").first}.memory.*.*.*" %>"></img><br>
<h3>Monit</h3>
<% @node.run("monit", "summary").first["data"]["processes"].each do |process| %>
  <%= process[0] %> - <%= process[1] %><br>
<% end %>
