<!DOCTYPE html>
<html>
<head>
  <title>Elsm Web</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Elsm Web</a>
      <ul class="nav navbar">
        <li><%= link_to "Nodes", nodes_path %></li>
      </ul>
    </div>
  </div>
  <%= yield %>
</div>

</body>
</html>
